.venv

quijote/Snapshots

# Datos
quijote/FoF/**/*.0
quijote/grafos/**/*.npz
quijote/grafos/**/*.xml
quijote/grafos/**/*.graphml
quijote/grafos/*.json

# No tengo git LFS, pero si lo tuviera, esto sería útil
.gitattributes
